* {
    font-family: 'inter';
}

body {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

:root {
    --h1: 75px;
    --main-color: #FFC40B;
    --grey: #D2D2D2;
    --light-grey: #FAFAFA;
}

.title {
    font-weight: 700;
    color: #151515;
}

.text {
    font-weight: 500;
    color: #151515;
    font-size: 16px;
}

.p {
    font-weight: 500;
    font-size: 14px;
    color: #A3A3A3;
}




/* Header */

header {
    height: 84px;
    width: 100%;
    background-color: #fff;
}

.wrapper-header {
    width: 100%;
    max-width: 1370px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.logo-header {
    height: auto;
    width: 145px;
}

.transfer-logo-header {
    color: #A3A3A3;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.simferopol-logo-header {
    color: #272727;
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0 0 0;
    padding: 0;
}

.wrapper-menu-header {
    width: 100%;
    height: 100%;

}

.ul-menu-header {
    display: flex;
    justify-content: center;
}

.link-menu-header {
    margin-left: 30px;
}

.p-link-menu-header {
    color: #272727;
    transition: all .2s ease;
}

.p-link-menu-header:hover {
    color: var(--main-color);
}

.tel-header {
    width: 21%;
    height: 100%;
    text-align: right;
    display: flex;
    flex-direction: column;
}

.text-tel-header {
    color: #A3A3A3;
    font-size: var(--p);
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.tel-link-header {
    color: #272727;
    font-weight: bold;
    font-size: 20px;
    margin: 6px 0 0 0;
    padding: 0;
    transition: all .2s;
}

.tel-link-header:hover {
    color: var(--main-color);
}

/* ---------------------------- */




/* welcome screen */

.welcome-screen {
    width: 100%;
    height: 485px;
    background-image: url('/img/bgc-welcome-screen.png');
}

.wrapper-welcome-screen {
    max-width: 1370px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 270px;
    padding-right: 270px;
}

.title-welcome-screen {
    font-weight: 500;
    font-size: var(--h1);
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 65px 0 0 0;
}

.title-span-welcome-screen {
    color: var(--main-color);
}

.text-welcome-screen {
    text-align: center;
    color: #fff;
    margin: 20px 0 0 0;
    padding: 0;
}



/* -------------- */














